<div id="<%= dom_id word %>">
  <p>
    <strong>Word name:</strong>
    <%= word.word_name %>
  </p>

  <p>
    <strong>Word definition:</strong>
    <%= @sv3  %>
  </p>
 <p>
    <strong>listen Audio:</strong>
    <%=  link_to "click here",@x %>
  </p>

  


</div>
