<form class="form-inline my-2 my-lg-0">
     

<%= form_tag root_path, :method=> 'get' do%>
<%= text_field_tag 'search', 'nil',placeholder:" Enter Word Here",size: 50%>
<%=submit_tag 'Search in Dictionary'%>

<a href="https://api.dictionaryapi.dev/api/v2/entries/en/cat">Dictionary Api</a>
<%end%>

</form>